<h2>Choose from the following filters to get up to 5 recommendations.</h2>

<form id="filter-form" [formGroup]="filtersForm" (ngSubmit)="onSubmit()">

    <label>
        <input id = "tv-movie" type="radio" formControlName="TVorMovie" value="tv_series,documentary"> TV Show
    </label><br>
    <label>
        <input id = "tv-movie" type="radio" formControlName="TVorMovie" value="feature,tv_movie"> Movie
    </label><br>

    <div *ngFor="let choice of genres; let i=index" class="col-md-2">
        <label>
          <input type="checkbox" [value]="choice.value" (change)="onCheckChange($event)">
          {{choice.name}}
        </label>
      </div>
  
    <!--label for="genre">Genre: </label>
    <input id="genre" type="text" formControlName="Genre"-->

    <label for="rating">Rating: </label>
    <input id="rating" type="text" formControlName="Rating">

    <label for="runtime">Runtime: </label>
    <input id="runtime" type="text" formControlName="Runtime">

    <label for="release-date">Release Date: </label>
    <input id="release-date" type="text" formControlName="ReleaseDate">

    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!filtersForm.valid">Submit</button>
  
</form>

