<h2>Choose from the following filters to get up to 5 recommendations.</h2>

<form id="filter-form" [formGroup]="filtersForm" (ngSubmit)="onSubmit()">

    <mat-radio-group formControlName="TVorMovie">
        <mat-radio-button value="tv_series,documentary">TV Show </mat-radio-button>
        <mat-radio-button value="feature,tv_movie">Movie </mat-radio-button>
      </mat-radio-group>

    <div *ngFor="let choice of genres; let i=index">
          <mat-checkbox [value]="choice.value" (change)="onCheckChange($event)">
            {{choice.name}}
            </mat-checkbox>
      </div>

    <h4>Rating:</h4>
    <mat-form-field appearance="fill">
        <mat-label>Minimum Rating</mat-label>
        <mat-select formControlName="MinRating">
                <mat-option *ngFor="let rating of ratings" [value]="rating">
                {{rating}}
              </mat-option>
            </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Maximum Rating</mat-label>
        <mat-select formControlName="MaxRating">
                <mat-option *ngFor="let rating of ratings" [value]="rating">
                {{rating}}
              </mat-option>
            </mat-select>
    </mat-form-field>
    <br><br>

    <h4>Runtime:</h4>
    <mat-form-field appearance="fill">
        <mat-label>Minimum Runtime</mat-label>
        <input matInput type="number" formControlName="MinRuntime">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Maximum Runtime</mat-label>
        <input matInput type="number" formControlName="MaxRuntime">
    </mat-form-field>

    <h4>Release Date:</h4>
    <mat-form-field appearance="fill">
        <mat-label>Minimum Year</mat-label>
        <input matInput placeholder="YYYY" formControlName="MinReleaseDate">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Maximum Year</mat-label>
        <input matInput placeholder="YYYY" formControlName="MaxReleaseDate">
    </mat-form-field>

    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!filtersForm.valid">Submit</button>
  
</form>

