<div class="container">
    <h2>Choose from the following filters to get recommendations.</h2>

<form id="filter-form" [formGroup]="filtersForm" (ngSubmit)="onSubmit()">

    <div>
        <mat-radio-group formControlName="TVorMovie">
            <mat-radio-button style="margin-right: 1vh" value="tv_series,documentary">TV Show </mat-radio-button>
            <mat-radio-button value="feature,tv_movie">Movie </mat-radio-button>
        </mat-radio-group>
    </div>

    <br>

    <div class="genres">
        <div *ngFor="let choice of genres;">
            <mat-checkbox [value]="choice.value" (change)="onCheckChange($event)">
                {{choice.name}}
            </mat-checkbox>
        </div>
    </div>

    <br>

    <h4>Rating:</h4>
    <mat-form-field appearance="fill">
        <mat-label>Minimum Rating</mat-label>
        <mat-select formControlName="MinRating">
                <mat-option *ngFor="let rating of ratings" [value]="rating">
                {{rating}}
              </mat-option>
            </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Maximum Rating</mat-label>
        <mat-select formControlName="MaxRating">
                <mat-option *ngFor="let rating of ratings" [value]="rating">
                {{rating}}
              </mat-option>
            </mat-select>
    </mat-form-field>

    <br>

    <h4>Runtime (Minutes):</h4>
    <mat-form-field appearance="fill">
        <mat-label>Minimum Runtime</mat-label>
        <input matInput formControlName="MinRuntime">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Maximum Runtime</mat-label>
        <input matInput formControlName="MaxRuntime">
    </mat-form-field>

    <h4>Release Date (Year):</h4>
    <mat-form-field appearance="fill">
        <mat-label>Minimum Year</mat-label>
        <input matInput placeholder="YYYY" formControlName="MinReleaseDate">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Maximum Year</mat-label>
        <input matInput placeholder="YYYY" formControlName="MaxReleaseDate">
    </mat-form-field>

    <br>

    <button style="margin-right: 1vh" type="submit" [disabled]="!filtersForm.valid">Submit</button>
    <button type="reset">Reset</button>
  
</form>

</div>